*~
!op/plugins.sh
**node_modules
.DS_Store
.DS_Store
.cfg
.claude/ide
.claude/plugins
.claude/projects
.claude/settings.local.json
.claude/shell-snapshots
.claude/statsig
.claude/todos
.colima/_lima
.colima/ssh_config
.elixir_ls
.elixir_ls/
.env
.envrc
.iex.exs
.luarc.json
.mix_tasks
.node-version
.vscode
.vscode/
_build/
deps/
ngrok
node_modules
nvim/.config/nvim/plugin/
op/*
packer_compiled.lua
tmux/.config/tmux/plugins/
