*~
.DS_Store
.elixir_ls/
.env
.luarc.json
.mix_tasks
.vscode/
_build/
deps/
node_modules
nvim/.config/nvim/plugin/
tmux/.config/tmux/plugins/
.colima/_lima
.colima/ssh_config
ngrok
op/*
!op/plugins.sh
.claude/projects
.claude/ide
.claude/statsig
.claude/todos
